<mat-card>
    <mat-card-header>
        <mat-card-title>Sign Up!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.username"
                    placeholder="Username"
                    type="text"
                    name="username"
                    required
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.pwd"
                    placeholder="Password"
                    type="password"
                    name="pwd"
                    required
                /> 
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.email"
                    type = "email"
                    placeholder="Email"
                    name="email"
                    required
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userData.birth_date"
                    type = "date"
                    placeholder="Birthday"  
                    name="birth_date"
                />
              </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            (click)="registerUser()"
            color="primary"
        >Sign Up
        </button>
    </mat-card-actions>
</mat-card>
